img {
  max-width: 150px;
  margin-left: 10px;
}

.character {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 320px;
  padding: 5px 10px;
  margin: 10px 5px;
  border: 2px double #f1dcdc;
}

.characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}